server:
    port: 8082

spring:
  application:
    name: notificationservice

  config:
    import: optional:configserver:http://localhost:8888

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-service
      auto-offset-reset: earliest

  mail:
    host: smtp.gmail.com
    port: 587
    username: pamparam
    password: pumpurum
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka